@{
    ViewBag.Title = "Bienvenidos";
}
<div class="jumbotron">
    <h1 class="display-4">Bienvenido a Videotron!</h1>
    <p class="lead">El sitio para el entretenimiento interactivo.</p>
    <hr class="my-4">
    <p>Crea una cuenta para saber mas sobre nosotros (no mandaremos spam).</p>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row justify-content-around">

        </div>
        <div class="col md-4">
            <div class="card">
                <div class="card-header h5">Generos</div>
                <div class="card-body">lorem ipsum</div>
            </div>
        </div>

        <div class="col md-4">
            <div class="col md-4">
                <div class="card">
                    <div class="card-header h5">Ventas</div>
                    <div class="card-body">lorem ipsum</div>
                </div>
            </div>
        </div>
        
        <div class="col md-4">
            <div class="col md-4">
                <div class="card">
                    <div class="card-header h5">Nuevos</div>
                    <div class="card-body">lorem ipsum</div>
                </div>
            </div>
        </div>
    </div>
</div>